@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding-inline: 5px;
  padding-block: 2px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.brand-name {
  font-family: var(--font-family-brand);
  font-weight: 300;
  font-size: 1.75rem;
  color: var(--color-brand-text);
  -webkit-text-stroke: 1px white;
}

.hero-section {
  position: relative;
  min-height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
  padding-top: 5.5em;
  padding-bottom: 1.75em;
}

.hero-section::before {
  position: absolute;
  /* background: url("/Illustrations/HeroSection_BG.png") no-repeat; */
  background-color: var(--color-hero-bg);
  background-size: cover;
  height: 100%;
  width: 100%;
  content: "";
  /* opacity: 0.9; */
  z-index: -10;
  top: 0px;
  left: 0px;
}

.hero-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
}

.hero-tagline p {
  font-size: 2em;
  text-align: center;
  font-family: var(--font-family-primary);
  color: var(--color-hero-heading-text);
}

.hero-subtext p {
  font-size: 1em;
  text-align: center;
  font-family: var(--font-family-primary);
  color: var(--color-hero-subtext);
}

.hero-btn {
  margin-top: 16px;
  cursor: pointer;
  /* background-color: var(--hero-button-shadow); */
  background-color: var(--shadow-hero-button);
  border: none;
  border-radius: 8px;
}

.hero-btn span {
  display: block;
  border-radius: 8px;
  border: 1px solid var(--color-hero-button-border);
  background-color: var(--color-hero-button-bg);
  color: var(--color-hero-button-text);
  padding: 1px 5px;
  font-family: var(--font-family-primary);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.hero-btn span:hover {
  transform: translateY(-0.3em);
}

.hero-btn span:active {
  transform: translateY(0em);
}
